a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    font-size: 60px;
}
nav{
    display: block;
    margin: auto;
    color: white;
    background-color: #333;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a{
    color: white;
}
#contents{
    display: grid;
    grid-template-columns: 120px 1fr;
    margin-right: 50px;
}
body{
    margin:0px;
}
#contents{
    display : grid;
    grid-template-columns: 200px 1fr;
}
#contents ul{
    border-right: 1px solid gray;
    margin: 0px;
    padding-top: 20px;
    list-style-type: none;

}
#article{
   padding-left: 30px;

}